#conteiner{

}
.header{
    height: 50px;
    width: 310px;
    background: #8785aa;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.post{
    display: flex;
}
.footer{
    height: 50px;
    width: 310px;
    background: #8785aa;
    border: 2px solid black;
}
.menu{
    height: 314px;
    width: 50px;
    background: #6bb967;
    border: 2px solid black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_body{
    width: 246px;
    height: 150px;
    background: #6394eb;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
