
.post {
    display: flex;
}

.menu {
    height: 314px;
    width: 50px;
    background: #6bb967;
    margin-top: 10px;
}

.post_body {
    width: 246px;
    height: 150px;
    background: #6394eb;
    margin: 10px;
}

.text_centr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_bloc {
    height: 50px;
    width: 310px;
    background: #8785aa;
}

.border {
    border: 2px solid black;
}

#post_blok div {
    border: 2px solid black;
}