body {
    margin: 0;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteiner {
    width: 610px;
    height: 1200px;
}

#head {
    display: flex;
    justify-content: space-between;
}

.home {
    height: 600px;
    width: 300px;
    background: #2269ba;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.about {
    height: 600px;
    width: 300px;
    background: #2269ba;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#kabobs1 {
    height: 310px;
    display: flex;
    align-items: flex-end;

}

.kabob {
    height: 300px;
    width: 610px;
    background: #2269ba;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#botton {
    height: 207px;
    width: 610px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.shishkabobs, .BBQ_kabobs, .Summer_kabobs {
    height: 196px;
    width: 196px;
    background: #16457a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}