
#conteiner {
    height: 1000px;
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widgest {
    height: 200px;
    width: 580px;
}

#widgest_big {
    display: flex;
    justify-content: space-between;
}

.botton {
    height: 580px;
    width: 580px;
}

.text_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_color {
    color: white;
}

#widgest_big > div {
    height: 180px;
    width: 180px;
    background: #16457a;
}

.color_big_box {
    background: #2269ba;
}
