* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: #000000;
    --hex-color: #0B2330;

}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}


.top_bar {
    height: 83px;
    max-width: 1368px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu {
    display: flex;
    column-gap: 40px;
}

.nav_spring {
    margin-right: 8px;
}

.nav_menu__item,
.nav_menu__button {
    font-size: 16px;
    line-height: 24px;
    color: var(--hex-color);
}

.nav_menu__button {
    display: flex;
    align-items: center;
    column-gap: 24px;

}

.vector {
    display: flex;
}

.nav_btn {
    width: 163px;
    height: 54px;
    background-color: var(--hex-color);
    color: #ffffff;
    cursor: pointer;
    transition: box-shadow .35s;
}

.nav_btn:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.header_wrap__content {
    display: flex;
    justify-content: space-between;
}


.photo {
    position: relative;
    bottom: 796px;
    right: 102px;
}

