* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: #000000;
    --hex-color: #0B2330;

}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}


.top_bar {
    height: 83px;
    max-width: 1368px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu {
    display: flex;
    column-gap: 40px;
}

.nav_spring {
    margin-right: 8px;
}

.nav_menu__item,
.nav_menu__button {
    font-size: 16px;
    line-height: 24px;
    color: var(--hex-color);
}

.nav_menu__button {
    display: flex;
    align-items: center;
    column-gap: 24px;

}

.vector {
    display: flex;
}

.nav_btn {
    width: 163px;
    height: 54px;
    background-color: var(--hex-color);
    color: #ffffff;
    cursor: pointer;
    transition: box-shadow .35s;
}

.nav_btn:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.header_wrap__content {
    display: flex;
    justify-content: space-between;
}

.header_content {
    padding: 154px 0;
}

.heder_content__title {
    width: 436px;
    height: 256px;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--hex-color);
}

.heder_content__text {
    width: 436px;
    height: 96px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 38px;
    color: var(--hex-color);
}

.header_btn1 {
    width: 163px;
    height: 54px;
    background-color: #f8c501;
    color: var(--hex-color);
    cursor: pointer;
    transition: box-shadow .35s;
}

.header_btn1:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.header_btn2 {
    width: 163px;
    height: 54px;
    background-color: #E5E5E5;
    color: var(--hex-color);
    margin-left: 16px;
    cursor: pointer;
    transition: box-shadow .35s;
}

.header_btn2:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.header_content__img {
    height: 886px;
    margin-bottom: 189px;
}

.photo {
    position: relative;
    bottom: 796px;
    right: 102px;
}


.header_botton__title {
    width: 547px;
    height: 96px;
    margin-bottom: 59px;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: var(--hex-color);
}

.header_botton {
    margin-bottom: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__product_card {
    display: flex;
    width: 1376px;
    height: 494px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-bottom: 191px;
    background: #51CEBC;
    border-radius: 10px;
}

.header__product_card > img {
    width: 678px;
}

.header__product_card > div > h3 {
    margin: 114px 121px 35px 20px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--hex-color);
}

.header__product_card > div > p {
    margin: 0 145px 161px 20px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: var(--hex-color);
}

.inner__box {
    display: flex;
    flex-direction: column;
}

.header__onboarding_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__onboarding_product > h3 {
    width: 711px;
    margin-bottom: 57px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    color: var(--hex-color);
}

.header__onboarding__btn {
    width: 163px;
    height: 54px;
    margin-top: 113px;
    margin-bottom: 176px;
    background-color: #f8c501;
    color: var(--hex-color);
    cursor: pointer;
    transition: box-shadow .35s;
}

.header__onboarding__btn:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.header__violet_card {
    height: 537px;
    width: 1260px;
    left: 0;
    right: 0;
    top: 0;
    margin-left: 148px;
    background: #BD78F0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.header__violet_card > img {
    width: 562px;
    height: 409px;
    position: relative;
    right: 136px;
}

.header__violet_card > div > h3 {
    box-sizing: border-box;
    padding: 103px 193px 35px 0;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--hex-color);
}

.header__violet_card > div > p {
    padding: 0 128px 147px 0;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--hex-color);
}

.header__violet__text {
    display: flex;
    flex-direction: column;
}

.body_solution {
    margin-left: 148px;
    margin-right: 32px;
}

.body_solution__title > h6 {
    margin-top: 136px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
}

.body_solution__title > h2 {
    padding: 13px 699px 26px 0;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--hex-color);
}

.body_solution__title > p {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
}

.body_solution__products {
    margin-top: 226px;
}

.body_solution__product_cards {
    display: flex;
    margin-bottom: 121px;
}

.cards__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards__content > img {
    width: 40px;
    height: 40px;
}

.cards__content > h2 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--hex-color);
}

.cards__content > p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    padding-right: 263px;
    color: var(--hex-color);
}

.cards__content > button {
    width: 144px;
    height: 54px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    cursor: pointer;
    transition: box-shadow .35s;
}

.cards__content > button:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.body_solution__btn {
    position: relative;
    bottom: 110px;

}

.body_solution_btn_in {
    width: 228px;
    height: 23px;
    margin-right: 8px;
    background: #E7EAEB;
    border-radius: 4px;
    color: #61757E;
}

.body_solution_btn_in2 {
    width: 147px;
    height: 23px;
    margin-right: 8px;
    background: #E7EAEB;
    border-radius: 4px;
    color: #61757E;
}

.body_solution_btn_concept {
    width: 152px;
    height: 23px;
    left: 0;
    right: 0;
    top: 0;
    background: #FE9F28;
    border-radius: 4px;
}

.body_features {
    height: 960px;
    margin-top: 152px;
    padding: 96px 122px 94px 122px;
    background-color: #f1ece6;
}

.body_features__title > p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;

}

.body_features__title > h1 {
    height: 128px;
    padding-right: 175px;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--hex-color);
}

.body_features__title > img {
    margin-top: 142px;
}

.body_features__content {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.body_features__txt {
    margin-left: 224px;
}

.body_features__text1 {
    width: 588px;
    height: 57px;
    margin-top: 120px;
    border-top: 2px solid #C9316F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body_features__text1 > h4 {
    margin-top: 25px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--hex-color);
}

.юbody_features__text2 {
    width: 563px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--hex-color);
}

.body_features__text2 > p {
    width: 100%;
    margin: 36px 147px 36px 0;
}

.body_features__text2 > h6 {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--hex-color);
    margin-right: 8px;
    margin-bottom: 22px;
}

.body_features__text3 {
    width: 588px;
    height: 80px;
    border-top: 1px solid #C3CACD;
    border-bottom: 1px solid #C3CACD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body_features__text3 > h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--hex-color);
}

.body_integrations {
    margin-left: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body_integrations__content > p {
    margin-top: 184px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
}

.body_integrations__content > h3 {
    width: 667px;
    margin: 15px 183px 37px 0;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--hex-color);
}

.integrations__txt {
    width: 667px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.body_integrations__content > button {
    width: 208px;
    height: 54px;
    margin-top: 36px;
    background-color: #f8c501;
    color: var(--hex-color);
    cursor: pointer;
    transition: box-shadow .35s;
}

.body_integrations__content > button:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.body_integrations__pictures {
    margin-top: 160px;
}

.body_integrations__products {
    margin-top: 240px;
    margin-bottom: 46px;
    box-sizing: border-box;
    display: flex;
}

.body_integrations_cards {
    width: 562px;
    height: 584px;
    padding-left: 116px;
    margin-left: 32px;
    left: 0;
    right: 0;
    top: 0;
    background: #F2EDE7;
    border-radius: 10px 0 0 10px;

}

.body_integrations_cards > p {
    padding: 80px 343px 17px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
}

.body_integrations_cards > h6 {
    padding: 0 155px 27px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--hex-color);
}

.integrations_cards__txt {
    padding: 0 210px 36px 0;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--hex-color);
}

.body_integrations_cards > button {
    width: 140px;
    height: 54px;
    border: 1px solid var(--hex-color);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .35s;
}

.body_integrations_cards > button:hover {
    box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.body_integrations__yellow_cards {
    width: 794px;
    height: 584px;
    left: 0;
    right: 0;
    top: 0;
    margin-right: 32px;
    background: #F9C600;
    border-radius: 0 10px 10px 0;;
}

.body_integrations__yellow_cards > img {
    position: absolute;
}

.body_integrations__yellow_cards > p {
    padding: 79px 121px 81px 116px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
}

.body_integrations__yellow_cards_man {
    margin-left: 116px;
    display: flex;
}

.integrations__yellow_cards_man_cont {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
    color: var(--hex-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botton_and {
    height: 443px;
    background: var(--hex-color);
}

.botton_and__content {
    height: 423px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #375361;
}

.botton_and__content_title {
    margin-top: 53px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
}

.botton_and__content > p {
    width: 642px;
    height: 56px;
    margin-top: 31px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.botton_and__content > button {
    width: 163px;
    height: 54px;
    margin-top: 36px;
    background-color: #f8c501;
    color: var(--hex-color);
    cursor: pointer;
    transition: box-shadow .35s;
}

.botton_and__content > button:hover {
    box-shadow: -4px 6px 18px -1px rgb(250, 235, 211);
    -webkit-box-shadow: -4px 6px 18px -1px rgb(250, 235, 211);
    -moz-box-shadow: -4px 6px 18px -1px rgb(250, 235, 211);
}

.botton_and__list {
    width: 100%;
    height: 678px;
    background: var(--hex-color);

}

.botton_and__list_txt {
    display: flex;
}

.logo {
    margin: 78px 109px 0 32px;
}

.botton_and__list_txt > div > p {
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
}

.botton_and__list_txt_colums {
    margin-top: 80px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
}

.colums_1 {
    width: 196px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    left: 18.61%;
    right: 67.78%;
    top: 80px;
}

.colums_2 {
    width: 196px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 35%;
    right: 51.39%;
    top: 80px;
    margin-right: 40px;
}

.colums_3 {
    width: 196px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 51.39%;
    right: 35%;
    top: 80px;
    margin-right: 40px;
}

.colums_4 {
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 67.78%;
    right: 18.61%;
    top: 80px;
}

.p_color {
    color: #F9C600;
}

.botton_and__list_icon {
    margin-top: 68px;
    display: flex;
    justify-content: space-around;
}

.botton_and__list_icon_txt {
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}

.botton_and__list_icon_logo > img {
    margin-right: 24px;
}